MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/caloriebank
JWT_SECRET=9bb13e25608c8070b077a00a5ddf2f65d80547e676ec7571d79894771297bc1b313610009d1114002ff6f533d83f325ae7ec4eea269fe38265cd4b6b8291b046
AWS_ACCESS_KEY_ID=AKIASVQKHMHFN2NVPLMN
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-1
AWS_BUCKET_NAME=caloriebank-food-photos-2026-phil
FRONTEND_URL=http://localhost:5173
PORT=4700
NODE_ENV=development
